<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />

    <title>Timelapse livestreamer</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/foundation.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/modernizr.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/placeholder.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/MoveImages.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="css/normalize.css" type="text/css" />
    <link rel="stylesheet" href="css/foundation.min.css" type="text/css" />
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  </head>
<body>

  <div class="row" id="top">
    <div class="small-12 columns">
      <h1 class="text-center">Most recent screenshot</h1>
      <a id="newest_image" href="<%= @images.first %>">
        <img class="th" src="<%= @images.first %>" />
      </a>
    </div>
  </div>
  <div id="bottom">
    <div id="thumbnails">
      <h1 class="text-center">More screen captures</h1>
      <ul class="small-block-grid-6">
        <% @images.each_with_index do |image_path, index| %>
          <% next if index == 0 %>
          <li<%= first_last(index) if @images.size > 2 %>>
            <a href="<%= image_path %>" class="th">
              <img src="<%= image_path %>" />
            </a>
          </li>
        <% end %>
      </ul>
    </div>
    <%= erb :footer %>
  </div>

  <script type="text/javascript" charset="utf-8">
    $(function() {
      var es = new EventSource('/connect');
      es.onmessage = function(e) {
        var msg = $.parseJSON(e.data);

        $("body").moveImages({
          filename: msg.filename,
          limitThumbnails: 6
        });
      };
    });
    $(document).foundation();
  </script>
</body>
</html>
